[Service]
Environment="JENKINS_OPTS="
Environment="JAVA_OPTS=-Djenkins.install.runSetupWizard=false"
Environment="JENKINS_HOME={{ jenkins_home }}"
Environment="JENKINS_PREFIX="
Environment="JENKINS_PORT={{ jenkins_port }}"